sqlalchemy
flask-sqlalchemy
flask-restful
flask-marshmallow
flask_httpauth
psycopg2==2.7.4
Flask-Script
passlib
Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.6
flask_login