<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Porjecto 0</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" id="bootstrap-css"/>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='/bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/fontawesome-free-5.15.2-web/css/all.css') }}"/>

    <script>
    var full = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '')+'/';
        function sendForm() {
            $.ajax({
                type: "GET",
                url: full+"api/token",
                data: JSON.stringify({ 'username': $('#user').val(), 'password': $('#password').val() }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data){
                    window.location = full+"event";
                },
                error: function(errMsg) {
                    alert("Valide sus credenciales ");
                }
            });
            return false;
        }
    </script>
</head>
    <div style="width: 30%;vertical-align: middle;align-items: center;justify-content: center">
    <article class="card-body mx-auto h-100 d-flex flex-column justify-content-center">
        <form class="shadow p-4 mb-5 bg-dark rounded" action="" method="POST" onsubmit="return sendForm();">
            <div class="form-group text-white">
                <p class="text-center title"> <strong>LOGIN</strong> </p>
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input class="form-control" placeholder="Usuario" type="text" id="user" required="true">
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Contraseña" type="password" id="password" required="true">
            </div>

            <div class="form-group  d-flex flex-row justify-content-center">
                <button type="submit" class="btn btn-danger mt-2 px-5"> Ingresar </button>
            </div>
            <div class="form-group">
                <p class="text-center"> <a class="text-white" href="./register">Registrarse</a> </p>
            </div>
        </form>
    </article>
        </div>
</body>
</html>